[user]
	name = Lawrence Andrews
    email = lawrence@lawrenceandrews.co.uk
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	autocrlf = input
[web]
	browser = google-chrome
